---
layout: default
title: ProofMode - Projects
description: Turn your photos and videos into secure, signed visual evidence
featured_image: /images/proof-feature02.png
---

<section class="listing single">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="listing-post">

			<div class="listing-post__header">
				<h2 class="listing-post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
				<p class="listing-post__subtitle">{{ project.subtitle }}</p>
			</div>

			{% if project.featured_image %}
			<a href="{{ project.url | relative_url }}" class="listing-post__image" style="background-image: url({{ project.featured_image | relative_url }});"></a>
			{% endif %}

			<div class="listing-post__content">
				<p>{{ project.excerpt }}</p>
				<p><a href="{{ project.url | relative_url }}" class="button">View Project</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>
