---
layout: default
title: ProofMode - Verified Visuals
description: Turn your photos and videos into secure, signed visual evidence
featured_image: /images/proof-feature02.png
---

<section class="listing single">

	<div class="wrap">

		{% for post in paginator.posts %}

		<article class="listing-post">

			<div class="listing-post__header">
				<h2 class="listing-post__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
				<p class="listing-post__subtitle">{{ post.date | date_to_long_string }}</p>
			</div>

			{% if post.featured_image %}
			<a href="{{ post.url | relative_url }}" class="listing-post__image" style="background-image: url({{ post.featured_image | relative_url }});"></a>
			{% endif %}

			<div class="listing-post__content">
				<p>{{ post.excerpt }}</p>
				<p><a href="{{ post.url | relative_url }}" class="button">Read More</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	{% endif %}

</section>

{% endif %}
